<div class="slds-context-bar topNav">
    <div class="slds-context-bar__primary">
        <div class="slds-context-bar__item slds-no-hover">
            <img src="images/menulogo.png" alt="" class="menulogo" />
            <span class="slds-context-bar__label-action slds-context-bar__app-name">
                <span class="slds-truncate" title="App Name">Genesis Gucci</span>
            </span>
        </div>
    </div>
    <nav class="slds-context-bar__secondary" role="navigation">
        <ul class="slds-grid">
            {{#each data}}
            <li class="slds-context-bar__item {{#if isCurrent}}slds-is-active{{/if}} {{#if hasSubmenu}}slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open{{/if}}"
                title="{{title}}">
                <a href="{{link}}" class="slds-context-bar__label-action" title="{{title}}">
                    {{#if isCurrent}}<span class="slds-assistive-text">Current Page:</span>{{/if}}
                    <span class="slds-truncate" title="{{title}}">{{name}}</span>
                </a>
            </li>
            {{/each}}
        </ul>
    </nav>
</div>

{{!-- 1. Include the hamburger menu as the last item
2. Use @media query to hide the hamburger menu when screen width is >=600px
3. Use @media query to display the hamburger menu when screen width is less than 600px
4. Don't have to worry about current menu selection for hamburger menu?
CX3YQ5VN
--}}